@page {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 8.5in;
    height: 11in;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
}

span {
    font-weight: 100;
    font-size: 10pt;
}

hr {
    margin: 2px 0px 2px 0px;
}

ul {
    margin: 8px;
}

.main {
    float: right;
    width: 70%;
    padding: 12px 20px;
}

.main h2, .sidebar h2 {
    font-size: 16pt;
    font-weight: 300;
    margin: 0px;
}

.main h2 {
    font-size: 20pt;
}

.main h3 {
    margin: 5px 0px 5px 0px;
    font-size: 16pt;
    font-weight: 600;
}

.main p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.main ul {
    padding-left: 20px;
}

.place {
    float: right;
}

.sidebar {
    float: left;
    width: 30%;
    height: 11in;
    background-color: #F2F2F2;
    padding: 0px 20px 0px 20px;
}

.sidebar h1 {
    text-align: center;
    font-weight: 600;
    font-size: 28pt;
}

.sidebar li {
    list-style-type: none;
    padding-top: 1px;
    padding-bottom: 1px;
}

.sidebar ul {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.address {
    padding-left: 24px;
}

.languages1, .languages2, .skills1, .skills2 {
    margin-left: 6px;
    margin-right: 6px;
}

.languages1 li, .languages2 li, .skills1 li, .skills2 li {
    background-color: #E0E0E0;
    border: 1px solid black;
    border-radius: 15px;
    padding: 6px 10px 6px 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    width: 90px;
}

.languages1, .skills1 {
    float: left;
}

.languages2, .skills2 {
    float: right;
}

.fa-envelope {
    padding-left: 1px;
    padding-right: 9px;
}

.fa-mobile-alt {
    padding-left: 4px;
    padding-right: 12px;
}

.fa-home {
    padding-right: 8px;
}

.fa-github {
    padding-left: 1.25px;
    padding-right: 9.25px;
}

.fa-linkedin {
    padding-left: 2px;
    padding-right: 10px;
}
