@page {
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 8.5in;
    height: 11in;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
}

h1 {
    font-size: 28pt;
    font-weight: 600;
}

h2 {
    font-size: 16pt;
    font-weight: 300;
}

h3 {
    font-size: 14pt;
    font-weight: 600;
}

ul {
    margin: 8px;
}

span {
    font-weight: 100;
}

hr {
    margin: 2px 0px 2px 0px;
}

/* main */

.main {
    float: right;
    width: 72%;
    padding: 20px 20px 20px 10px;
}

.main h2 {
    margin: 0px;
}

.main h3 {
    margin: 5px 0px 5px 0px;
}

.main p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.main ul {
    padding-left: 20px;
}

.place {
    float: right;
}

/* sidebar */

.sidebar {
    float: left;
    width: 28%;
    height: 11in;
    padding: 20px 10px 20px 20px;
}

.sidebar h1 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

.sidebar h2 {
    margin: 0px;
}

.sidebar ul {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    list-style-type: none;
}

.address {
    padding-left: 20px;
}

.bubble-list {
    margin: 1px 6px 1px 6px;
}

.bubble-list li {
    border: 1px solid black;
    border-radius: 15px;
    padding: 6px 10px 6px 10px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    width: 90px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* icons */

.fa, .fab, .fas {
    height: 14px;
    margin-right: 4px;
    text-align: center;
    width: 16px;
}
